.form
  = form_for @manga do |f|
    = f.text_field :title, placeholder: "タイトル"
    = f.text_field :comment, placeholder: "コメント"
    = f.text_field :author, placeholder: "作者"
    = f.file_field :image
    = f.submit "送信"
    